.swiper-container{
  height: 100%; 
  max-height: 100vw;
  min-height: 0;
  min-width: 0;
  max-width: 100vw; 
  width: 100%;
  overflow: hidden;
}
 
.swiper-slide{
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.swiper-wrapper{
  max-height: 100%;
  height: 100%t;
  display: flex;
}
